## This is my Toronto Peer Review Assginment

### Setting up my imports and let's pull the webpage so that we can scrape it

In [1]:

import bs4 as bs
import urllib.request
import pandas as pd

source = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').read()

### Let's use BeautifulSoup as suggested in the instructions for this assignment

In [2]:
soup = bs.BeautifulSoup(source,'lxml')

### Parse the data to extract the table data

In [3]:
#import re

table2 = soup.find('table',{"class":"wikitable sortable"})

table_rows2 = table2.find_all('tr')

l = []
for tr in table_rows2:
    td = tr.find_all('td')
    row2 = [tr.text for tr in td]
   
    l.append(row2)

del(l[0])

### Let's put in a df and remove the new line from the Neighbourhood entries

In [4]:
df2 = pd.DataFrame(l, columns=["Postal Code","Borough","Neighbourhood"])
df2['Neighbourhood'] = df2.Neighbourhood.str.replace(r'\n','')
df2.head(10)

  Postal Code           Borough     Neighbourhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M5A  Downtown Toronto       Regent Park
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Not assigned
9         M8A      Not assigned      Not assigned

### Let's find where we have __"Not assigned"__ in Borough, but with __"Not assigned"__ in Neighborhood

In [5]:
inLoc = int(df2.query("Neighbourhood == 'Not assigned' and Borough != 'Not assigned'").index[0])

inLoc

8

### Adding Borough entry to Neighborhood per instructions when Borough has an entry and Neighborhood as Not assigned

In [6]:

df2.loc[inLoc][2] = df2.loc[inLoc][1]
df2.head(10)

  Postal Code           Borough     Neighbourhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M5A  Downtown Toronto       Regent Park
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Queen's Park
9         M8A      Not assigned      Not assigned

### Didn't want to use a for loop since I was able to find one entry that meets the condition, but just in case, let's run it again

In [7]:
df2.query("Neighbourhood == 'Not assigned' and Borough != 'Not assigned'")

# no other entry with the above condition, GREAT! Let's continue...

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

### query returned zero. Let us move on... removing the remaining rows with entries where we found __"Not assigned"__

In [8]:
to_drop = {'Not assigned'}
df2 = df2.loc[~df2['Borough'].isin(to_drop) & ~df2['Neighbourhood'].isin(to_drop)] 
df2.head(10)

   Postal Code           Borough     Neighbourhood
2          M3A        North York         Parkwoods
3          M4A        North York  Victoria Village
4          M5A  Downtown Toronto      Harbourfront
5          M5A  Downtown Toronto       Regent Park
6          M6A        North York  Lawrence Heights
7          M6A        North York    Lawrence Manor
8          M7A      Queen's Park      Queen's Park
10         M9A         Etobicoke  Islington Avenue
11         M1B       Scarborough             Rouge
12         M1B       Scarborough           Malvern

### Resetting index number

In [9]:
df2 = df2.reset_index(drop=True)
df2.head(10)

  Postal Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights
5         M6A        North York    Lawrence Manor
6         M7A      Queen's Park      Queen's Park
7         M9A         Etobicoke  Islington Avenue
8         M1B       Scarborough             Rouge
9         M1B       Scarborough           Malvern

### Combining with groupby to Neighbourhood with Borough

In [10]:
df2 = df2.groupby("Postal Code").agg(lambda x: ', '.join(set(x))).reset_index()

In [11]:
df2.head(20)

   Postal Code      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, West Hill, Morningside
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
5          M1J  Scarborough                                Scarborough Village
6          M1K  Scarborough        East Birchmount Park, Kennedy Park, Ionview
7          M1L  Scarborough                    Oakridge, Clairlea, Golden Mile
8          M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9          M1N  Scarborough                        Cliffside West, Birch Cliff
10         M1P  Scarborough  Scarborough Town Centre, Dorset Park, Wexford ...
11         M1R  Scarborough                                  Maryvale, Wexford
12         M1S  Scarborough                                          Agincourt
13         M1T  Scarborough            Sullivan, Clarks Corners, Tam O'Shanter
14         M1V  Scarborough  Agincourt North, Milliken, Steeles East, L'Amo...
15         M1W  Scarborough                      Steeles West, L'Amoreaux West
16         M1X  Scarborough                                        Upper Rouge
17         M2H   North York                                  Hillcrest Village
18         M2J   North York                       Fairview, Henry Farm, Oriole
19         M2K   North York                                    Bayview Village

### Per instructions, here is the .shape to my dataframe

In [12]:
df2.shape

(103, 3)

### Importing the Geospatial_data.csv file containing the latitude and longitude for this assignment's dataframe

In [13]:
!wget -O Geospatial_Coordinates.csv http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv

--2018-10-15 18:57:59--  http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Resolving cocl.us (cocl.us)... 169.48.113.201
Connecting to cocl.us (cocl.us)|169.48.113.201|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv [following]
--2018-10-15 18:57:59--  https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Connecting to cocl.us (cocl.us)|169.48.113.201|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2018-10-15 18:58:00--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.25.197, 107.152.24.197
Connecting to ibm.box.com (ibm.box.com)|107.152.25.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2018-10-15 18:58:00--  https://ibm.ent.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.24.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.24.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!jfeKBEmOvSC7kgTy75aenwsKJg-wXWdRLDFDVN5AU-Da1hNDdUcVQ6zDcerSaCFTuAQ9-cDEJJleNsHxcp3eCjjrEajFLh2YVVKXv_DuOOR8s0hwbM69U80YQxBAR22H1VhftykFwUuAS7GFb7YkPOKyfSG2Zh9D4lO_6z4mqn-te4JhAmRllaAI1BVgqOLg64fcw-Wr9FcUCPqbcPZ8OBet01ZI8IUvZclz64iJ1Njmcn3rU-XsazCpcAIyzhggs1N5iJYd7XILhDdSGkMXRLugriwBfbcZ-RrJ1xMbPpgGwt0FxCGH5PbPWj_QIOD-7nN5k8LTEKmOhUqWaqrvfl-X4C4kfgvCOmzbgtt6YTE8TlvWcWy2NxCPNFbhCooQWHq5oNqX6azcM46f-ec_wboZPEiDZYMuzicmPkZcoFRMlV01K2XIbvkPfVk_EVni0S9qRGNwJxgByw7V8IIZIp3dreoJHII9BT1TJTb-r71hkK3pkHMxT1XtCpwNwRkhdA1OnRD_pRqL-DZfOTerk0aCoDqzkCNEaNnXwpooPNsllalQ3I2V_LAbfHJdqIGUbXjxvjdvI9DuhfRJNqxsVR-N_bg9BsutPFZvXxWPD41NI8f1p_u-0cCiY9hWVF8ppyMqNO7mbL0NKPdwB_H_Kp0kWh7Ds72uI7cumwvDqTG25dvgwUXK5si6junlrs1Bx-8glJaYuEeFx8_teeXTrDf3vhR_Ac_wIDIKB9uiBdtLEMeTICNn1K6wHhtH1IjVigG6bw3sTzwGrs9SH3HY4jnXR7O2DaDyxrgud5Pi_mJd25XVrTOOMSbBL8hJMQfSHtI_FhGRTfFYrPqrv_4rK3wO5h-uokiPMc7NeQ-0gRtgqHkBxSLAH5TzYYpMKSeO4Rqbt_DSzMKFIYsRj1AgRbxKKlVI6yKimBY1MqTDUxh47ssGWZwZ9511pAAboIqEU5xm50IauTfLM-14yNg3MEQ5-7KaDpCsDHG-lztW-cN1rOQP4Hkjn-uKzWx5TE9yd6A0XkzU6jgWuHPBHhcPIPJjybm39d6wG3qxPW_exZZDpMJSTWer3GhdGT198wRce1AJEBmd3snVS6TThw26vlEPw4UegQ_c-KXER4wfXe0pNU-8KlePiWm4URFMq4pmh-vmkJJ9EyFIGCv8saleGR6G_01EjRw7vQ1qkbD6Mi_69IYADnxeJ5lZThaWkcrHQxTZ3jUncrX8kufQ-Y-IyaNwteizO74p7OWP9UpbzDKFPQ081FEyGL23J0O-E4z--MdxMWu5aPjMqFOhEgMyqS5DPl4AbdixCe6Fb2MovYykvPaxmIuNThCqgJ37Mb5C-xE-/download [following]
--2018-10-15 18:58:01--  https://public.boxcloud.com/d/1/b1!jfeKBEmOvSC7kgTy75aenwsKJg-wXWdRLDFDVN5AU-Da1hNDdUcVQ6zDcerSaCFTuAQ9-cDEJJleNsHxcp3eCjjrEajFLh2YVVKXv_DuOOR8s0hwbM69U80YQxBAR22H1VhftykFwUuAS7GFb7YkPOKyfSG2Zh9D4lO_6z4mqn-te4JhAmRllaAI1BVgqOLg64fcw-Wr9FcUCPqbcPZ8OBet01ZI8IUvZclz64iJ1Njmcn3rU-XsazCpcAIyzhggs1N5iJYd7XILhDdSGkMXRLugriwBfbcZ-RrJ1xMbPpgGwt0FxCGH5PbPWj_QIOD-7nN5k8LTEKmOhUqWaqrvfl-X4C4kfgvCOmzbgtt6YTE8TlvWcWy2NxCPNFbhCooQWHq5oNqX6azcM46f-ec_wboZPEiDZYMuzicmPkZcoFRMlV01K2XIbvkPfVk_EVni0S9qRGNwJxgByw7V8IIZIp3dreoJHII9BT1TJTb-r71hkK3pkHMxT1XtCpwNwRkhdA1OnRD_pRqL-DZfOTerk0aCoDqzkCNEaNnXwpooPNsllalQ3I2V_LAbfHJdqIGUbXjxvjdvI9DuhfRJNqxsVR-N_bg9BsutPFZvXxWPD41NI8f1p_u-0cCiY9hWVF8ppyMqNO7mbL0NKPdwB_H_Kp0kWh7Ds72uI7cumwvDqTG25dvgwUXK5si6junlrs1Bx-8glJaYuEeFx8_teeXTrDf3vhR_Ac_wIDIKB9uiBdtLEMeTICNn1K6wHhtH1IjVigG6bw3sTzwGrs9SH3HY4jnXR7O2DaDyxrgud5Pi_mJd25XVrTOOMSbBL8hJMQfSHtI_FhGRTfFYrPqrv_4rK3wO5h-uokiPMc7NeQ-0gRtgqHkBxSLAH5TzYYpMKSeO4Rqbt_DSzMKFIYsRj1AgRbxKKlVI6yKimBY1MqTDUxh47ssGWZwZ9511pAAboIqEU5xm50IauTfLM-14yNg3MEQ5-7KaDpCsDHG-lztW-cN1rOQP4Hkjn-uKzWx5TE9yd6A0XkzU6jgWuHPBHhcPIPJjybm39d6wG3qxPW_exZZDpMJSTWer3GhdGT198wRce1AJEBmd3snVS6TThw26vlEPw4UegQ_c-KXER4wfXe0pNU-8KlePiWm4URFMq4pmh-vmkJJ9EyFIGCv8saleGR6G_01EjRw7vQ1qkbD6Mi_69IYADnxeJ5lZThaWkcrHQxTZ3jUncrX8kufQ-Y-IyaNwteizO74p7OWP9UpbzDKFPQ081FEyGL23J0O-E4z--MdxMWu5aPjMqFOhEgMyqS5DPl4AbdixCe6Fb2MovYykvPaxmIuNThCqgJ37Mb5C-xE-/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.26.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.26.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_Coordinates.csv’

Geospatial_Coordina 100%[===================>]   2.82K  --.-KB/s    in 0.001s

2018-10-15 18:58:02 (3.53 MB/s) - ‘Geospatial_Coordinates.csv’ saved [2891/2891]

## Load Data From CSV File

In [14]:
df_geo = pd.read_csv('Geospatial_Coordinates.csv')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
new_df = pd.merge(df2, df_geo[['Postal Code','Latitude','Longitude']],on='Postal Code')
new_df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, West Hill, Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476